!!!5

%html
  %head
    %title Rddt4tw
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application'
    = javascript_include_tag 'https://cdn.rawgit.com/axyz/perfect-layout/master/dist/perfectLayout.min.js'

    = csrf_meta_tags

  %body  
    = yield
